Repository luca-borrione/webnd-project3-weather-journal-app: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, linthtml, eslint --cache --fix, jest --bail --findRelatedTests

.lintstagedrc.yaml:

'*.css':
  - stylelint --fix
'*.html':
  - prettier --write
  - linthtml
'*.js':
  - eslint --cache --fix
  - jest --bail --findRelatedTests
'*.json':
  - prettier --write

chore: fixing the html linting
  .linthtmlrc.yaml
  .vscode/settings.json
  package.json
  website/index.html
  yarn.lock
Due: prettier --write, linthtml

chore: add json linting vscode setting
  .vscode/settings.json
Due: prettier --write

feat: setting up the server
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  server.js
  server.spec.js
  yarn.lock
Due: prettier --write, eslint --cache --fix, jest --bail --findRelatedTests

chore: fixing the pre-commit hook
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yaml
  package.json
  yarn.lock
Due: prettier --write

feat: grabbing the weather data from the openweathermap API
  .eslintrc.yml
  .gitignore
  README.md
  package.json
  public/app.js
  public/app.spec.js
  public/index.html
  public/style.css
  server.js
  server.spec.js
  website/app.js
  yarn.lock
Due: stylelint --fix, prettier --write, linthtml, eslint --cache --fix, jest --bail --findRelatedTests

feat: adding server api routes
  api-controller.js
  api-routes.js
  package.json
  public/index.html
  server.js
  server.spec.js
  yarn.lock
Due: prettier --write, linthtml, eslint --cache --fix, jest --bail --findRelatedTests

feat: fixing the unit tests
  __mocks__/public/index.html
  api-routes-controller.js
  api-routes-controller.spec.js
  api-routes.js
  api-routes.spec.js
  jest.config.js
  package.json
  public/app.js
  public/app.spec.js
  server.js
  server.spec.js
  server.spec.js.snap
  snapshotResolver.js
  yarn.lock
Due: prettier --write, linthtml, eslint --cache --fix, jest --bail --findRelatedTests

feat: implemented `postAdd` to store entries privately
  .eslintrc.yml
  api-routes-controller.js
  api-routes-controller.spec.js
  api-routes.js
  api-routes.spec.js
  public/app.js
  public/app.spec.js
  public/index.html
  server.js
Due: prettier --write, linthtml, eslint --cache --fix, jest --bail --findRelatedTests

feat: starting the refactoring of the UI - added the animation between weather panel and the location modal
  .eslintrc.yml
  .linthtmlrc.yaml
  favicon.ico
  public/css/footer.css
  public/css/index.css
  public/css/layout.css
  public/css/location-modal.css
  public/css/weather-panel.css
  public/index.html
  public/js/app.js
  public/js/app.spec.js
  public/js/weather-widget.js
  public/style.css
Due: stylelint --fix, prettier --write, linthtml, eslint --cache --fix, jest --bail --findRelatedTests

feat: adding the basic ui elements for the server interaction - added the form change location elements - added the target elements for the rsults
  public/css/index.css
  public/css/layout.css
  public/css/location-modal.css
  public/css/weather-panel.css
  public/index.html
  public/js/weather-widget.js
Due: stylelint --fix, prettier --write, linthtml, eslint --cache --fix, jest --bail --findRelatedTests

feature: completing the cirle: - getting the weather data by zipcode - saving the retrieved weather data - retrieving all the stored weather data - update the view with the last weather data
  .eslintrc.yml
  .vscode/settings.json
  api-routes-controller.js
  api-routes-controller.spec.js
  api-routes.spec.js
  api-routes.spec.js.snap
  babel.config.js
  package.json
  public/css/location-modal.css
  public/css/weather-panel.css
  public/index.html
  public/js/app.js
  public/js/app.spec.js
  public/js/utils.js
  public/js/utils.spec.js
  public/js/weather-widget-controller.js
  public/js/weather-widget-controller.spec.js
  public/js/weather-widget-view.js
  public/js/weather-widget-view.spec.js
  public/js/weather-widget.js
  yarn.lock
Due: stylelint --fix, prettier --write, linthtml, eslint --cache --fix, jest --bail --findRelatedTests

chore: removing the vsode settings for jest
  .vscode/settings.json
Due: prettier --write

chore: adding @types/jest
  package.json
  yarn.lock
Due: prettier --write

chore: add jestCommandLine to the vscode setting to load the config file
  .vscode/settings.json
Due: prettier --write

feature: error handling + unit tests - added error handling even though it's just logging to the console for the moment - 100% coverage of unit tests
  api-routes-controller.js
  api-routes-controller.spec.js
  jest.config.js
  jest.setup.js
  public/js/utils.js
  public/js/utils.spec.js
  public/js/utils/controller-utils.js
  public/js/utils/controller-utils.spec.js
  public/js/utils/error-utils.js
  public/js/utils/error-utils.spec.js
  public/js/utils/index.js
  public/js/utils/misc-utils.js
  public/js/utils/misc-utils.spec.js
  public/js/weather-widget-controller.js
  public/js/weather-widget-controller.spec.js
  public/js/weather-widget-view.js
  public/js/weather-widget-view.spec.js
Due: eslint --cache --fix, jest --bail --findRelatedTests

feature: adding the feelings
  public/css/layout.css
  public/css/location-modal.css
  public/css/weather-panel.css
  public/index.html
  public/js/utils/selectors.js
  public/js/weather-widget-view.js
  public/js/weather-widget-view.spec.js
Due: stylelint --fix, prettier --write, linthtml, eslint --cache --fix, jest --bail --findRelatedTests

feature: using imperial units
  api-routes-controller.js
  api-routes-controller.spec.js
Due: eslint --cache --fix, jest --bail --findRelatedTests

test: refactored server specs in order to listen to 3000 only on one unit test
  server.spec.js
Due: eslint --cache --fix, jest --bail --findRelatedTests

docs: added README
  README.md
Due: none
